* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #333;
}

i,
svg {
  pointer-events: none;
}

select,
textarea,
input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

header h1 {
  padding: 1em 0;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  text-decoration: underline;
}

.sequencer {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  place-items: center;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.clap-pad,
.cowbell-pad,
.openhat-pad,
.crash-pad,
.perc-pad,
.ride-pad,
.shaker-pad,
.tom-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(160, 211, 224);
}

.snare-pad {
  background-color: rgb(224, 160, 208);
}

.hihat-pad {
  background-color: rgb(224, 194, 160);
}

.clap-pad {
  background-color: rgb(155, 43, 30);
}

.cowbell-pad {
  background-color: rgb(181, 77, 7);
}

.openhat-pad {
  background-color: rgb(196, 130, 24);
}

.crash-pad {
  background-color: rgb(240, 209, 83);
}

.perc-pad {
  background-color: rgb(82, 113, 143);
}

.ride-pad {
  background-color: rgb(115, 55, 140);
}

.shaker-pad {
  background-color: rgb(52, 118, 162);
}

.tom-pad {
  background-color: rgb(51, 154, 93);
}

.kick-pad.active {
  background-color: rgb(59, 197, 231);
}

.snare-pad.active {
  background-color: rgb(218, 58, 178);
}

.hihat-pad.active {
  background-color: rgb(241, 158, 64);
}

.clap-pad.active {
  background-color: rgb(247, 29, 4);
}

.cowbell-pad.active {
  background-color: rgb(255, 105, 6);
}

.openhat-pad.active {
  background-color: rgb(255, 157, 0);
}

.crash-pad.active {
  background-color: rgb(255, 204, 0);
}

.perc-pad.active {
  background-color: rgb(50, 81, 113);
}

.ride-pad.active {
  background-color: rgb(167, 75, 206);
}

.shaker-pad.active {
  background-color: rgb(40, 145, 215);
}

.tom-pad.active {
  background-color: rgb(37, 205, 107);
}

.hihat-track,
.snare-track,
.kick-track,
.clap-track,
.cowbell-track,
.openhat-track,
.crash-track,
.perc-track,
.ride-track,
.shaker-track,
.tom-track {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  place-items: center;
  width: 100%;
}

.kick,
.snare,
.hihat,
.clap,
.cowbell,
.openhat,
.crash,
.perc,
.ride,
.shaker,
.tom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  width: 60%;
}

.controls h1 {
  color: #f4f4f4;
}

.controls button {
  padding: 1rem;
  border: 1px solid #f4f4f4;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  margin-top: 3rem;
  background-color: transparent;
  font-family: Inter, sans-serif;
}

select {
  font-family: Inter, sans-serif;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  color: #fff;
}

.mute.active {
  background-color: rgb(179, 119, 31);
}

.tempo {
  margin: 3rem;
  width: 40%;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
  color: #fff;
}

.tempo-slider {
  padding: 0.2rem;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgb(116, 116, 116);
  cursor: pointer;
  border-radius: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
